body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #222831;
    color: #e8e8e8;
}
.cores input{
    background: none;
    height: 40px;
    border: none;
    outline: none;
}

.link{
    padding: 40px;
}
.link button, input{
    font-size: 20px;
    border: 1px solid #e8e8e8;
    outline: none;
    background: none;
    padding: 5px;
    color: #f05454;
}
#download{
    margin: 10px;
    padding: 20px;
    text-transform: none;
    color: white;
    background: #30475e;
}